.intro {
  background-color: #ffee9d;
}

.snek-head {
  font-weight: bolder !important;
}

.snek-p {
  line-height: 30px;
}

.snek-margin {
  margin-top: 100px !important;
}

.snek-contain {
  background-color: #ffee9d;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 440px) {
  .card-style {
    width: 100% !important;
  }
}

@media (max-width: 1007px) {
  .card-style {
    width: 100% !important;
  }
}

.snek-btn {
  background-color: black;
}
