.geek-head {
  font-weight: bold !important;
}

p {
  line-height: 40px;
  font-size: 16px;
}
.geek-btn {
  background-color: cornflowerblue;
}

@media (min-width: 1024px) {
  .role-section {
    margin-left: 250px;
  }
}

.background-head {
  margin-top: 70px;
}

.quote-contain {
  background-color: #c1d3fe;
  padding-top: 50px;
  padding-bottom: 30px;
}

.li-contain {
  line-height: 40px;
  font-size: 16px;
}

.mvp-contain {
  background-color: #c1d3fe;
  padding-bottom: 40px !important;
  padding-top: 50px !important;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 440px) {
  .geek-btn {
    width: 100% !important;
  }

  .more {
    width: 100% !important;
  }
}

@media (max-width: 1007px) {
  .geek-btn {
    width: 100% !important;
  }

  .more {
    width: 100% !important;
  }
}

.more {
  background-color: #f3f3f4;
  height: 40px !important;
}

.my-icon-size {
  height: 50px;
  width: 50px;
}
