.text-font-weight {
  font-weight: 500 !important;
}

.navigation-link {
  color: black !important;
}

.navigation-link:hover {
  color: black;
  text-decoration: none;
}

.navigation-link-drop:hover {
  text-decoration: none;
}

.some-active-class {
  cursor: pointer;
}

.hamburger {
  height: 34px;
  width: 34px;
}

.navbar-toggler {
  border: none !important;
  border-style: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 440px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}

@media (max-width: 1007px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}

.nav-font {
  font-size: 26px;
  font-weight: 600;
}
