.Illustration-contain {
  width: 100% !important;
  height: auto;
}

@media (max-width: 440px) {
  .w-40 {
    width: 100% !important;
  }
}

@media (max-width: 1007px) {
  .w-40 {
    width: 100% !important;
  }
}

.w-40 {
  width: 40%;
}

.devCard:hover {
  text-decoration: none;
  border-color: #4a4e9f;
}

.Devtag1 {
  font-size: 14px;
  background-color: #e6edfe;
  border-radius: 3px;
  color: #4a4e9f;
  font-weight: 600;
}

.Devtag1:hover {
  font-size: 14px;
  background-color: #e6edfe;
  border-radius: 3px;
  color: #4a4e9f;
  font-weight: 600;
  text-decoration: none !important;
}

.dev-link-style:hover {
  text-decoration: none;
  cursor: pointer;
}
