.Illustration-contain {
  width: 100% !important;
  height: auto;
}

.learn-more {
  background-color: #f3f3f4;
  height: 40px !important;
}

@media (max-width: 440px) {
  .learn-card {
    width: 100% !important;
  }
}

@media (max-width: 1007px) {
  .learn-card {
    width: 100% !important;
  }
}

.learn-card {
  border: none !important;
}

.tag2 {
  font-size: 14px;
  background-color: #fce8f3;
  border-radius: 3px;
  color: #99314b;
  font-weight: 600;
}

.tag1 {
  font-size: 14px;
  background-color: #e6edfe;
  border-radius: 3px;
  color: #4a4e9f;
  font-weight: 600;
}

.date {
  font-size: 14px;
  font-weight: 600;
}

.p-head {
  line-height: 30px;
  font-size: 18px;
  margin-top: -10px !important;
}

.learn-link {
  color: #5f77ec;
  font-weight: 600;
  margin-top: -20px !important;
}

.learn-link:hover {
  color: #4a4e9f;
  font-weight: 600;
  text-decoration: none !important;
}
