.project-name {
  font-weight: 500 !important;
}

.project-head {
  font-weight: 600 !important;
}

.project-link:hover {
  text-decoration: none;
}

@media (max-width: 440px) {
  .main-card {
    width: 100% !important;
  }
  .img-contain {
    width: 100% !important;
  }
}

@media (max-width: 1007px) {
  .main-card {
    width: 100% !important;
  }
  .img-contain {
    width: 100% !important;
  }
}

.main-card {
  width: 100% !important;
}
