.footer-paragraph {
  margin-top: 500px !important;
}

.testing {
  border: 1px solid black !important;
}

.icon-size {
  height: 30px;
  width: 30px;
  color: #000;
}

p {
  line-height: 40px;
  font-size: 16px;
}
