.div-contain {
  background-color: #dcdafd;
  padding-bottom: 40px !important;
  padding-top: 50px !important;
  padding-left: 10px;
  padding-right: 10px;
}

p {
  line-height: 40px;
  font-size: 16px;
}

.teen-link {
  color: #453e80;
}

.teen-link:hover {
  color: #453e80;
  text-decoration: none !important;
}

.design-head {
  margin-top: 100px !important;
}
