.lesson-head {
  margin-top: -10px !important;
  font-weight: 700;
}

.body-contain {
  margin-left: 136px !important;
  margin-right: 136px !important;
}

.lesson-quote-contain {
  background-color: #fce8f3;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 440px) {
  .body-contain {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

@media (max-width: 1007px) {
  .body-contain {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

.lesson-link {
  color: #99314b;
}

.lesson-link:hover {
  color: #99314b;
  text-decoration: none !important;
}

.bottom-line {
  margin-top: -5px;
}
