::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c4c4c4;
  opacity: 1; /* Firefox */
  font-size: 16px;
  font-family: "K2D", sans-serif;
}

@media (max-width: 440px) {
  .my-btn {
    width: 50% !important;
  }

  .w-35 {
    width: 100% !important;
  }
}

@media (max-width: 1007px) {
  .my-btn {
    width: 50% !important;
  }

  .w-45 {
    width: 100% !important;
  }
}

.w-50 {
  width: 50% !important;
}

.w-60 {
  width: 60% !important;
}

.my-name {
  font-weight: 700 !important;
  font-size: 40px !important;
}

.product {
  font-weight: 700 !important;
  font-size: 40px;
}

.svg-contain {
  margin-left: 0px !important;
}

.my-p {
  line-height: 30px !important;
  font-weight: 400 !important;
}

.my-btn {
  background-color: black;
  height: 45px !important;
}

.home-link1 {
  -webkit-text-stroke: 1px #000;
  color: #fff;
  text-decoration: none !important;
}

.home-link1:hover {
  -webkit-text-stroke: 0px #fff;
  color: #5f77ec;
  background-color: #e6edfe;
  text-decoration: none !important;
  padding-right: 10px;
  padding-left: 10px;
}

.home-link2 {
  -webkit-text-stroke: 1px #000;
  color: #fff;
  text-decoration: none !important;
}

.home-link2:hover {
  -webkit-text-stroke: 0px #fff;
  color: #3c668a;
  background-color: #f2f9ff;
  text-decoration: none !important;
  padding-right: 10px;
  padding-left: 10px;
}
